[Unit]
Description = Emailservices daemon
After network.target = auditd.service

[Service]
Type = simple
ExecStart = java -jar $EMAILSERVICES_HOME/build/libs/emailservices-0.0.1-SNAPSHOT.jar

[Install]
WantedBy = multi-user.target
