[Unit]
Description = Emailservices daemon
After network.target = auditd.service

[Service]
Type = simple
ExecStart = $EMAILSERVICES_HOME/deployment/executable.sh

[Install]
WantedBy = multi-user.target
